/* select by tag name */
h1 {
  background-color: seagreen;
}

p {
  background-color: pink;
}

/* wildcard: selects everything */
* {
  border: 1px solid red;
}

/* id: starts with # */
#big-article {
  border-radius: 25px;
  background-color: lightskyblue;
}

/* class: starts with . */
.header {
  font-family:Arial, Helvetica, sans-serif;
}
